<ul id="toolbar">
	{% for level in levels %}
	<li><button id="{{level}}" class="{% if level in filter.levels %} active{% endif %}">{{level}}</button></li>
	{% endfor %}
	<div id="jumpto">
		<table>
			<tr>
				<td colspan="2">
					<!--<a id="refresh">
						<img src="{{ url_for('static', filename='gfx/load_small.png') }}"/>&nbsp;refresh
					</a>
					-->
					<a id="reset">
						<img src="{{ url_for('static', filename='gfx/delete_small.png') }}"/>&nbsp;reset filters
					</a>
					<a id="show-more-filter">
						<img src="{{ url_for('static', filename='gfx/add_small.png') }}"/>&nbsp;toggle advanced filters
					</a>
                    <a id="show-more-qry">
                        <img src="{{ url_for('static', filename='gfx/run_small.png') }}"/>&nbsp;show query
                    </a>
				</td>
			</tr>
            <tr>
                <td><label for="grep">Grep all fields:</label></td>
                 <td><input id="grep" type="search" class="input" value="{{filter.grep}}" placeholder=".*LOL.*" name="grep"/></td>
            </tr>
            <tr><td colspan="2">All but date fields except valid <a href="http://www.mongodb.org/display/DOCS/Advanced+Queries#AdvancedQueries-RegularExpressions" target="_blank">Mongo</a> flavoured <a target="_blank" href="http://www.pcre.org/pcre.txt">PCRE</a> regexp.</td></tr>
		<table id="more-filter" {% if basic %}style="display:none;"{% endif %}>
            <tr>
                <td><label for="project">Project:</label></td>
                <td><input id="project" type="search" class="input" value="{{filter.loggerName}}" placeholder=".*LOL.*" name="loggerName"/></td>
                <td><label for="message">Message:</label></td>
                <td><input id="message" type="search" class="input" value="{{filter.message}}" placeholder="HTTP.*?404" name="message"/></td>
            </tr>
            <tr>
                <td><label for="start">From:</label></td>
                <td><input type="search" value="{{filter.start}}" class="input" placeholder="YYYY-MM-DD [HH:MM:SS]" name="start" id="start" /></td>
                <td><label for="end">To:</label></td>
                <td><input type="search" value="{{filter.end}}" class="input" placeholder="YYYY-MM-DD [HH:MM:SS]" name="end" id="end" /></td>
            </tr>
            <tr>
				<td><label for="fileName">File:</label></td>
				<td><input id="fileName" type="search" class="input" value="{{filter.fileName}}" placeholder="e.*py" name="fileName"/></td>
				<td><label for="method">Function:</label></td>
				<td><input id="method" type="search" class="input" value="{{filter.method}}" placeholder="get_.*burger" name="method"/></td>
				<td colspan="4"></td>
			</tr>
		</table>
	</div>
</ul>
<div id="more-qry" style="display:none;"><code>{{query}}</code></div>